In [1]:
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np
import requests

In [2]:
def get_soup(url):

	result = requests.get(url)
	content = result.content
	soup = BeautifulSoup(content, 'lxml')
	return soup

In [ ]:
#teams = ['ATL', 'BOS', 'BRK', 'CHI', 'CHO', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHO', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS']
i = 0
urls = []
#for team in teams:
for i in range(0, 1000000, 100):
    url = 'https://www.basketball-reference.com/play-index/tgl_finder.cgi?request=1&player=&match=game&lg_id=NBA&year_min=1984&year_max=2018&team_id=&opp_id=&is_range=N&is_playoffs=N&round_id=&best_of=&team_seed=&opp_seed=&team_seed_cmp=eq&opp_seed_cmp=eq&game_num_type=team&game_num_min=&game_num_max=&game_month=&game_location=&game_result=&is_overtime=&c1stat=&c1comp=&c1val=&c2stat=&c2comp=&c2val=&c3stat=&c3comp=&c3val=&c4stat=&c4comp=&c4val=&order_by=diff_off_rtg&order_by_asc=&offset=' + str(i)
    urls.append(url)

In [ ]:
start_url = 'https://www.basketball-reference.com/play-index/tgl_finder.cgi?request=1&player=&match=game&lg_id=NBA&year_min=1984&year_max=2018&team_id=LAL&opp_id=&is_range=N&is_playoffs=&round_id=&best_of=&team_seed=&opp_seed=&team_seed_cmp=eq&opp_seed_cmp=eq&game_num_type=team&game_num_min=&game_num_max=&game_month=&game_location=H&game_result=&is_overtime=&c1stat=&c1comp=&c1val=&c2stat=&c2comp=&c2val=&c3stat=&c3comp=&c3val=&c4stat=&c4comp=&c4val=&order_by=diff_off_rtg&order_by_asc=&offset=0'
soup = get_soup(start_url)
df = pd.read_html(str(soup.find('table')))[0]
col = []
for i in range(len(df.columns)):
    col.append(df.columns[i][1])
col.pop(3)

In [ ]:
count = 0 
teams = pd.DataFrame(columns=col)

In [ ]:
for url in urls:
    try:
        soup = get_soup(url)
        df = pd.read_html(str(soup.find('table')))[0]
        df.drop('Opponent',axis=1, inplace = True)
        df.reset_index(inplace=True, drop=True)
        print("page" + str(count))
        dftemp = df
        df.columns = col
        #print(df.head())
        for i in range(0,df['Rk'].count()):
            if (dftemp.iloc[i,0] == 'Rk'):
                df = df.drop(df.index[i])
        count += 1
        team = team.append(df)
    except:
        print ("Unexpected error:")
    #  raise

In [ ]:
urls = []
url = 'https://www.basketball-reference.com/play-index/tgl_finder.cgi?request=1&player=&match=game&lg_id=NBA&year_min=1984&year_max=2018&team_id=&opp_id=&is_range=N&is_playoffs=N&round_id=&best_of=&team_seed=&opp_seed=&team_seed_cmp=eq&opp_seed_cmp=eq&game_num_type=team&game_num_min=&game_num_max=&game_month=&game_location=&game_result=&is_overtime=&c1stat=&c1comp=&c1val=&c2stat=&c2comp=&c2val=&c3stat=&c3comp=&c3val=&c4stat=&c4comp=&c4val=&order_by=diff_off_rtg&order_by_asc=&offset=0'
for i in range(0, 1000000, 100):
    url = 'https://www.basketball-reference.com/play-index/tgl_finder.cgi?request=1&player=&match=game&lg_id=NBA&year_min=1984&year_max=2018&team_id=&opp_id=&is_range=N&is_playoffs=N&round_id=&best_of=&team_seed=&opp_seed=&team_seed_cmp=eq&opp_seed_cmp=eq&game_num_type=team&game_num_min=&game_num_max=&game_month=&game_location=&game_result=&is_overtime=&c1stat=&c1comp=&c1val=&c2stat=&c2comp=&c2val=&c3stat=&c3comp=&c3val=&c4stat=&c4comp=&c4val=&order_by=diff_off_rtg&order_by_asc=&offset' + str(i)
    urls.append(url)

In [ ]:
count = 0
for url in urls:
    try:
        soup = get_soup(url)
        soup_df1 = pd.read_html(str(soup.find('table')))[0]
        soup_df = soup_df.append(soup_df1)
        print(count)
        count += 1
    except:
        print('Done')
        break

In [ ]:
df = soup_df.rename(columns={'Unnamed: 3_level_1': 'Home/Away'})
df.columns = df.columns.droplevel()
a = df.iloc[:,0:6]
b = df.iloc[:,7:12]
c = df.iloc[:,13:18]
d = df.iloc[:,19:24]
df = pd.concat([a,b,c,d], axis=1, keys=['Infomation','Team', 'Opponent', 'Differnces'])
df[('Infomation','Home/Away')] = (df.loc[:,('Infomation','Home/Away')] == '@').astype(int)
df = df[df[('Infomation','Rk')] != 'Rk']

In [ ]:
df.head()

In [135]:
df = pd.read_csv('df_Advanced.csv', sep = ',', header=[0,1], index_col =0)

In [136]:
df.sort_values(by = [('Infomation', 'Date')])
df.drop("Rk", level=1, axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)

In [137]:
df[('Predictor','R')] = 0
df[('Predictor','PTS')] = 0
df[('Predictor','PTSA')]= 0


for i in range(len(df)):
    r, points = (df.loc[i,[('Infomation', 'Result')]][0]).split()
    PTS, PTSA = points.split('-')
    df.loc[[i],[('Predictor', 'R')]], df.loc[[i],[('Predictor', 'PTS')]], df.loc[[i],[('Predictor', 'PTSA')]] = r, PTS, PTSA

In [140]:
df[('Infomation', 'Tm')]

0       LAL
1       LAL
2       LAL
3       LAL
4       LAL
5       LAL
6       LAL
7       LAL
8       LAL
9       LAL
10      LAL
11      LAL
12      LAL
13      LAL
14      LAL
15      LAL
16      LAL
17      LAL
18      LAL
19      LAL
20      LAL
21      LAL
22      LAL
23      LAL
24      LAL
25      LAL
26      LAL
27      LAL
28      LAL
29      LAL
       ...
2627    LAL
2628    LAL
2629    LAL
2630    LAL
2631    LAL
2632    LAL
2633    LAL
2634    LAL
2635    LAL
2636    LAL
2637    LAL
2638    LAL
2639    LAL
2640    LAL
2641    LAL
2642    LAL
2643    LAL
2644    LAL
2645    LAL
2646    LAL
2647    LAL
2648    LAL
2649    LAL
2650    LAL
2651    LAL
2652    LAL
2653    LAL
2654    LAL
2655    LAL
2656    LAL
Name: (Infomation, Tm), Length: 2657, dtype: object

In [128]:
df[('Predictor', 'R')] = (df[('Predictor', 'R')] == 'W').astype(int)

In [132]:
df.loc[:,'Predictor'] = df.loc[:,'Predictor'].astype(float)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2657 entries, 0 to 2656
Data columns (total 23 columns):
(Infomation, Date)         2657 non-null object
(Infomation, Tm)           2657 non-null object
(Infomation, Home/Away)    2657 non-null int64
(Infomation, Opp)          2657 non-null object
(Infomation, Result)       2657 non-null object
(Team, ORtg)               2656 non-null float64
(Team, FTr)                2657 non-null float64
(Team, 3PAr)               2657 non-null float64
(Team, TS%)                2657 non-null float64
(Team, eFG%)               2657 non-null float64
(Opponent, ORtg)           2656 non-null float64
(Opponent, FTr)            2657 non-null float64
(Opponent, 3PAr)           2657 non-null float64
(Opponent, TS%)            2657 non-null float64
(Opponent, eFG%)           2657 non-null float64
(Differnces, ORtg)         2656 non-null float64
(Differnces, FTr)          2657 non-null float64
(Differnces, 3PAr)         2657 non-null float64
(Differnces, TS%)          2657 non-null float64
(Differnces, eFG%)         2657 non-null float64
(Predictor, R)             0 non-null float64
(Predictor, PTS)           0 non-null float64
(Predictor, PTSA)          0 non-null float64
dtypes: float64(18), int64(1), object(4)
memory usage: 477.5+ KB

In [134]:
df.head()

   Infomation                                 Team                       \
         Date   Tm Home/Away  Opp     Result  ORtg    FTr   3PAr    TS%
0  1984-01-06  LAL         0  SAS  L 117-124   NaN  0.333  0.000  0.549
1  2017-01-22  LAL         1  DAL   L 73-122  81.0  0.233  0.288  0.454
2  2016-03-28  LAL         1  UTA   L 75-123  81.6  0.259  0.235  0.396
3  1995-01-09  LAL         1  POR   L 83-129  84.8  0.155  0.143  0.463
4  1994-11-30  LAL         1  CLE   L 79-117  89.3  0.278  0.165  0.445

         ...  Opponent        Differnces                              \
    eFG% ...       TS%   eFG%       ORtg    FTr   3PAr    TS%   eFG%
0  0.495 ...     0.500  0.464        NaN  0.042  0.000  0.049  0.031
1  0.404 ...     0.640  0.592      -54.4  0.014 -0.161 -0.186 -0.188
2  0.347 ...     0.632  0.612      -52.2  0.045 -0.124 -0.236 -0.265
3  0.440 ...     0.619  0.595      -47.0 -0.066 -0.068 -0.156 -0.154
4  0.405 ...     0.582  0.559      -43.0  0.119  0.058 -0.136 -0.153

  Predictor
          R PTS PTSA
0       NaN NaN  NaN
1       NaN NaN  NaN
2       NaN NaN  NaN
3       NaN NaN  NaN
4       NaN NaN  NaN

[5 rows x 23 columns]